body {
    margin: 0;
}

.wrapper {
    width: 920px;
    height: 1200px;
    background-color: red;
    margin: 0 auto;
}

.featured {
    width: 100%;
    height: 400px;
    background-color: blue;
    position: relative;
    float: left;
    margin-bottom: 50px;

}

.whoswho {
    width: 100%;
    height: 400px;
    background-color: yellow;
    position: relative;
    float: left;
    margin-bottom: 50px;

}

.item{
    position: relative;
    float: left;
}

.wonderwoman {
    margin-left: 20px;
}

body {
    margin: 0;
    margin: 40px 0 0 0;
    font-family: sans-serif;
}

h1 {
    color: #0282F9;
    font-size: 40px;
}

